
.scrollBehavior {
    scroll-behavior: smooth;
    height: auto;
    width: auto;
}

.bodyContainer {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: white; 
    scroll-behavior: smooth;
    transition: all 0.5s ease;
    width: 100%;
    height: 100%;
  }
  

.b1{
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    perspective: -10px;
}

.Firstbox{
    display: flex;
    justify-content: space-between ;
}

.heading{
    width: 55%;
    height: auto;
    justify-content: center;
    color : rgb( 0 ,0,0,.85);
    background-color: white;
   /* border: 2px solid rgb(255, 0, 0); */
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    /* -webkit-box-flex: 1; */
    /* flex-grow: 1; */
    display: flex;
    position: relative;
    flex-direction: column;
    -webkit-box-pack: center;
    
    font-size: 5rem;
    line-height: 11rem;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    text-align: center;
  
}
.we_belive{
    font-size: 7rem;
    letter-spacing: -0.06em;
    line-height: 9rem;
    font-family: 'Bodoni Moda', serif;
}
.future{
    position: relative;
    top: 5px;
    font-size: 10rem;
    font-family: 'Tilt Warp', sans-serif;
}

.heading1{ 
    /* desktop */
    font-family: 'Bodoni Moda', serif;
    width: 100%;
    display: flex;
    position : relative;
    font-size: 2.5em;
} 
.para{
    width: 100%;
}
.centrepic{
    position: relative;
    left: 10%;
}
.pic {
    position : relative;
    display: flex;
    border-radius: 50%;
    align-items: center;
    margin :0 auto;
    margin-bottom:100px;
    z-index: 1;
}

.iphone{
    position: absolute;
    z-index: 1;
}
.playerwrapper{
    position: relative;
    display: block;
}

.centre{
    margin-left: auto;
    margin-right: auto;
}







  











 @media (max-width: 768px) { /*mobile */
    .centrepic{
        position: relative;
        left: 20%;
    }
    
   .heading{
    width: 20%;
    height: 50%;
    left : 0;
    z-index: 2;
   }

   .b1{
    position: relative;
    left: -40%;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    perspective: -10px;
}

   .pic{
    position: relative;
   
     
    /* bottom : 10px; */
    width: 350px;
    height: 350px;
   
   }
   .iphone{
    position: absolute;
   
   }

   .Firstbox{
   display: none;
   

   }
   .playerwrapper{
    position: relative;
    justify-items: center;
    /* left: 10%; */
    display: block;
    width: 400px;
    height: 650px;
   }
   

   .b1{
    padding-bottom: 20px;
   }
   
   .downloadResumeButton {
    display: flex;
    justify-content: center;
    left : auto;
    width: 45%;
    
}

.social{
        display: flex;
        justify-content: space-around;
        max-width: 300px;
        padding-left: auto;
        padding-right: auto;
        width: 100%;
}


.socialc{
    width: 100%;
    position: relative;
    padding-left: auto;
    padding-right: auto;
    /* left: 35%; */
}


.downloadResumeButton {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    padding: 20px 25px;
    position: absolute;
    /* left : 50%; */
    border-radius: 25px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    /* width: 10%; */
    font-family: 'system-ui', serif;
    background-color: #737171; /* A green color for the download button */
    color: rgb(255, 255, 255); /* White text color */
    text-decoration: none;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    /* Adjust as needed */
    transition: background-color 0.5s;
    /* Add a box shadow for a subtle 3D effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   animation: blink 1.5s infinite ;
  }


  .heading1{
    width: 100%;
   position: relative;
   justify-items: center;
   justify-content: auto;
   top : 100px;
   }

  .para {
    left: 20%;
    position:absolute;
   
    justify-items: center;
   
    width: 100%;
    justify-content: center;

    margin: 0 auto;
  }

 /* mobile */



.b1{
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    perspective: -10px;
}


.heading{
   
    /* height: auto; */
    justify-content: center;
    color : rgb( 0 ,0,0,.85);
    background-color: white;
   /* border: 2px solid rgb(255, 0, 0); */
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    /* -webkit-box-flex: 1; */
    /* flex-grow: 1; */
    display: flex;
    position: relative;
    flex-direction: column;
    -webkit-box-pack: center;
    
    font-size: 2rem;
    line-height: 9rem;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    text-align: center;
  
}
.we_belive{
    font-size: 4rem;
    letter-spacing: -0.06em;
    line-height: 7rem;
    font-family: 'Bodoni Moda', serif;
}


.future{
    position: relative;
    top: 5px;
    font-size: 7rem;
    font-family: 'Tilt Warp', sans-serif;
}

/* mobile */

.iphone{
    width:335;
    height:650;
}
.vplay{
    width :345px;
    height :680px;
}
    }



















    @media (min-width: 768px) and (max-width: 1023px) {

        .heading{
            width: 100%;
            height: 50%;
            left : 10%;
            z-index: 1;
           }

           .Firstbox{
            display: flex;
         
            }
        .heading1{
            width: 60%;
            justify-content: center;
            left: 54%;
           }
        .pic{
            position: relative;
            left: 10%;
            bottom : 10px;
        }
        .playerwrapper{
            position: relative;
            left: 0%;
            display: block;
           }


    }






    .buttond{
        display: flex;
        justify-content: center;
        height: 100px;
        padding-bottom: 50px;
        left: auto;
    }

.downloadResumeButton {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    padding: 20px 25px;
    position: absolute;
    border-radius: 25px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    /* width: 10%; */
    font-family: 'system-ui', serif;
    background-color: #737171; /* A green color for the download button */
    color: rgb(255, 255, 255); /* White text color */
    text-decoration: none;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    /* Adjust as needed */
    transition: background-color 0.5s;
    /* Add a box shadow for a subtle 3D effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   animation: blink 1.5s infinite ;
  }


  @keyframes blink {
    0% ,100% {
        opacity: 1;
    }
    50%{
        opacity: 0.4;
    }
    
  }
  
  .downloadResumeButton:hover, .downloadResumeButton:focus {
    background-color: #000000; /* A darker green color for the hover/focus state */
    outline: none; /* Remove outline on focus for a cleaner look */
    animation:none ;
  }
  



  .social{
    display: flex;
    justify-content: space-around;
    max-width: 500px;
   
    margin-left: auto;
    margin-right: auto;


    padding-bottom: 200px;
}


